/*
VARIABLES
*/

:root {
    --dark-grey: #2f3947;
    --light-grey: #c1c4c8;
    --white-grey: #eaebed;
    --white-grey2: #e0e0e3;
    --nice-grey: #4a536e;
    --fff: #fff;
    --background-color: #f3f4f7;
}